[submodule "lectures/devise-demo"]
	path = lectures/devise-demo
	url = git@github.com:trouni/devise-demo-795.git
[submodule "lectures/geocoding"]
	path = lectures/geocoding
	url = git@github.com:trouni/geocoding-795.git
